<?xml version="1.0"?>
<ruleset name="Required Common PHP">
	<description>Coding Standard for Common PHP.</description>

	<file>.</file>

	<rule ref="Required"/>

	<rule ref="Generic.PHP.ForbiddenFunctions">
		<properties>
			<property name="forbiddenFunctions" type="array" extend="true">
				<!-- Don't allow the use of i18n functions. -->
				<element key="_e" value="null"/>
				<element key="__" value="null"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Required\Common"/>
			</property>
		</properties>
	</rule>

	<rule ref="Squiz.Commenting.VariableComment">
		<exclude-pattern>/src/Args/*</exclude-pattern>
	</rule>
</ruleset>
